
body {
    margin-left: 143.92px;
    margin-top: 42px;
    margin-right: 145px;
}

/* Header and navigation */

header {
    display: flex; 
    justify-content: flex-end;
    align-items: center;   
    max-width: 1400px;
    width: 100%;
    min-height: 78px;
    height: 100%;
    margin-bottom: 30px;
}

.logo {
    margin-right: auto;
}

.nav__links li, .nav__links li a {
    display: inline-block;
    list-style: none;
    text-decoration: none; 
    color: #2e281e;
    text-align: left;
    vertical-align: text-top;
    font-size: 14px;
    font-family: "poppins", serif;
    line-height: 28px;
    border-style: hidden;
    outline: none;
    margin-left: 10px;
}

.nav__links li a:hover {
    color: #775298;
}

.button--sign-in {
    background-color:#fff;
    height:46px;
    width:102px;
    border-radius:4px;
    border:1px solid #bcd0e5;
    color:#173a56;
    text-align:center;
    vertical-align:text-top;
    font-size:16px;
    font-family: "poppins", serif;
    font-style: normal;
    font-weight: 600;
    line-height:auto;
    margin-left: 60px;
}

.button--sign-in:hover {
    background-color: #775298;
    color: #fff;
}

.button--sign-up {
    margin-left: 10px;
    background-color:#ff9900;
    height:46px;
    width:110px;
    border-radius:4px;
    border:0px solid #969696;
    color:#ffffff;
    text-align:center;
    vertical-align:text-top;
    font-size:16px;
    font-family: "poppins", serif;
    font-style: normal;
    font-weight: 600;
    line-height:auto;
}

.button--sign-up:hover {
    background-color: #775298;
    color: #fff;
}

/* First section */

.first__container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
    max-width: 1126px;
    width: 100%;
    min-height: 496px;
    height: 100%;
}

.first__title {
    color:#2e281e;
    text-align:left;
    vertical-align:text-top;
    font-size:44px;
    font-family: "poppins", serif;
    font-style: normal; 
    font-weight: bold; 
    line-height:54px;
    margin-top: 113px;
    margin-bottom: 30px;
}

.first__info {
    color:#534836;
    text-align:left;
    vertical-align:text-top;
    font-family: "poppins", serif;
    font-size:18px;
    line-height:28px;
    border-style:hidden;
    outline:none;
    width:458px;
    margin-bottom: 45px;
}

.button--get-started {
    display: inline-block;
    justify-content:center;
    align-items:center;
    background-color:#ff9900;
    height:53px;
    width:175px;
    border-radius:4px;
    border: none;
    color:#ffffff;
    font-size:16px;
    font-family:"poppins", serif;
    font-style: normal;
    font-weight: bold;
    line-height:auto;
}

.button--get-started:hover {
    background-color: #775298;
    color: #fff;
}

.watch-video {
    display: inline-block;
}

.fa-play {
    display: inline-block; 
    margin-left: 30px;
    margin-right: 8.5px;
}

.watch-video li a {
    list-style: none;
    text-decoration: none;
    color:#ff9900;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family: "Poppins", serif;
    line-height:auto;
    text-decoration:underline;
}

.watch-video li a:hover {
color: #775298;
}

/* Second section */

.second__container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center; 
    max-width: 1120px;
    width: 100%;
    min-height: 543px;
    height: 100%;
    margin: auto;
    margin-top: 110px;
    margin-bottom: 90px;
}

.second__title {
    margin: auto;
    display: flex;
    justify-content: center;
    color:#2e281e;
    text-align:center;
    vertical-align:text-top;
    font-family: "poppins", serif; 
    font-size:36px;
    font-style: normal;
    font-weight: bold; 
    line-height:auto;
    margin-bottom: 54px;
}

h5 {
    margin-top: 30px;
    margin-bottom: 13px;
    color:#2e281e;
    text-align:left;
    vertical-align:text-top;
    font-size:22px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: 600;
    line-height:auto;
}

.second__info-container {
    display: flex;
    flex-direction: row;
}

.fa-arrow-pointer {
    text-align: center;
    align-content: center;
    background-color:#7752be;
    color: #fff;
    height:50px;
    width:50px;
    border-radius:19px;
    box-shadow: 0px 0px 10px #7852bece;
}

.fa-stumbleupon {
    text-align: center;
    align-content: center;
    background-color:#FAB005;
    color: #fff;
    height:50px;
    width:50px;
    border-radius:19px;
    box-shadow: 0px 0px 10px #fab005ce;

}

.fa-heart {
    text-align: center;
    align-content: center;
    background-color:#F03E3D;
    color: #fff;
    height:50px;
    width:50px;
    border-radius:19px;
    box-shadow: 0px 0px 10px #F03E3Dce;

}

.fa-hourglass-half {
    text-align: center;
    align-content: center;
    background-color:#4DADF7;
    color: #fff;
    height:50px;
    width:50px;
    border-radius:19px;
    box-shadow: 0px 0px 10px #4DADF7ce;
}

.second__info {
    display: flex;
    color:#534836;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    max-width: 240px;
    width: 100%;
    gap: 45px;
}

.sign-up-now {
    margin: auto;
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ff9900;
    height:53px;
    width:175px;
    border-radius:4px;
    border-style: none;
    color:#ffffff;
    font-size:16px;
    font-family:"poppins", serif;
    font-style: normal;
    font-weight: bold;
    line-height:auto;
}

.sign-up-now:hover {
    background-color: #775298;
    color: #fff;
}

/* Third section */

.third__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center; 
    max-width: 1110px;
    width: 100%;
    min-height: 574px;
    height: 100%;
    margin-bottom: 101px;
}

.third__title-top {
    display: flex;
    max-width: 486px;
    width: 100%;
    color:#534836;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family:"Poppins", serif;
    line-height:26px;

}
.third__title {
    margin-top: 3px;
    margin-bottom: 22px;
    display: flex;
    color:#2e281e;
    text-align:left;
    vertical-align:text-top;
    font-size:36px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: bold;
    line-height:auto;
}

h6 {
    color:#2e281e;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family:"poppins", serif;
    font-style: normal;
    font-weight: bold; 
    line-height:26px;
    margin-top: 25px;
    margin-bottom: 12px;
}

.third__info {
    display: flex;
    max-width: 486px;
    width: 100%;
    color:#534836;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family:"poppins", serif;
    font-style: normal;
    font-weight: 500;
    line-height:26px;
}

/* Fourth section */

.fourth__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1121px;
    width: 100%;
    min-height: 521px;
    height: 100%;
    margin-bottom: 104px;
}

.fourth__title-top {
    display: flex;
    margin-bottom: 5px;
    color:#534836;
    text-align:left;
    font-size:16px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: 500;
    line-height:26px;
    max-width: 486px;
    width: 100%;
}

.fourth__title {
    color:#2e281e;
    text-align:left;
    vertical-align:text-top;
    font-size:36px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: bold;
    line-height:auto;
}

.fa-check {
    text-align: center;
    align-content: center;
    background-color:#ff9900;
    color: #fff;
    min-height:35px;
    height: 100%;
    max-width:35px;
    width: 100%;
    border-radius:13.8px;
    margin-right: 30px;
}

.fourth__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    color:#534836;
    text-align:left;
    vertical-align: center;
    font-size:16px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: 500;
    line-height:26px;
    max-width: 486px;
    width: 100%;
}

/* Fifth section */

.fifth__container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1110px;
    width: 100%;
    min-height: 609px;
    height: 100%;
    margin-bottom: 146px;
}

.fifth__title {
    margin-top: 3px;
    margin-bottom: 22px;
    color:#2e281e;
    text-align:left;
    vertical-align:text-top;
    font-size:36px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: bold; 
    line-height:auto;
}

.fifth__info {
    color:#534836;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: 500;
    line-height:26px;
    max-width:486px;
    width: 100%;
}

/* Footer */

.footer {
    margin: auto;
    display: flex;
    padding-top: 125px;
    max-width: 1109px;
    width: 100%;
    min-height: 308px;
    height: 100%;
    border-top: 1px solid rgba(188, 208, 229, 0.49691325426101685);
    margin-bottom: 83px; 
}

.footer__list {
    display: inline-block;
    margin-left: 125px;
    margin-right: 82px;
    margin-top: 33px;
    column-count: 2;
    column-gap: 175px;

}
.footer__list li, .footer__list li a {
    text-decoration: none; 
    list-style: none; 
    color:#534836;
    text-align:left;
    vertical-align:text-top;
    font-size:16px;
    font-family:"Poppins", serif;
    line-height:35px;
}

.footer__list li a:hover {
    color: #775298;
}

.footer__right {
    margin: auto;
    display: flex; 
    flex-direction: column;
    justify-content: baseline;
    gap: 21px;
    max-width: 325px;
    width: 100%;
    min-height: 199px;
    height: 100%;
}

.footer__rectangle {
    display: flex;
    background-color:#ffffff;
    min-height:48px;
    height: 100%;
    max-width:325px;
    width: 100%;
    border:1px solid #bcd0e5;
    border-radius: 4px;
}

.sign-up-now-footer {
    background-color:#ff9900;
    color: #fff;
    min-height:39px;
    height: 100%;
    max-width:131px;
    width: 100%;
    border-radius:4px;
    border-style: none;
    text-align:center;
    vertical-align:text-top;
    font-size:16px;
    font-family:"Poppins", serif;
    font-style: normal;
    font-weight: bold; 
    line-height:auto;
}

.sign-up-now-footer:hover {
    background-color: #775298;
    color: #FFF;
}
